@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  display: flex;
  flex-direction: column;

  font-family: 'Lato', sans-serif !important;
}

.infinite-scroll-component__outerdiv,
.infinite-scroll-component {
  width: 100% !important;
  overflow: hidden;
}

.infinite-scroll-component__outerdiv::-webkit-scrollbar {
  display: none;
}

.infinite-scroll-component::-webkit-scrollbar {
  display: none;
}